*.pyc
.vscode
body_models/smpl
body_models/smplh
body_models/smplx
wandb
exp/mask_transformer/MIMO-vit-release/video_train/*
ckpt/backbones/*
ckpt/cam_model_cleaned.ckpt
/smplx_blender_addon/
/videos/